rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function AuthorizatedUser(userID) {
    	return request.auth != null && request.auth.uid == userID
    }

    function ProducerUser(userID) {
      return get(/databases/$(database)/documents/Type/$(userID)).data.perfil == "producer"
    }
  
  	match /Type/{userID}{
    	allow read: if AuthorizatedUser(userID);
      allow write: if AuthorizatedUser(userID);
    }

    match /Profile/{userID} {
      allow read: if AuthorizatedUser(userID);
      allow write: if AuthorizatedUser(userID);
    }

    match /Producer/{userID} {
      allow read: if true;
      allow write: if ProducerUser(userID);
    }
  }
}